[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
elasticsearch = "==6.8.2"
scrapy = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.0"
