<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Graphs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Movie Graphs</h1>

    <div id="moviesPerGenreGraph"></div>
    <script>
        var moviesPerGenreData = {{ movies_per_genre_fig.to_json() | safe }};
        Plotly.newPlot('moviesPerGenreGraph', moviesPerGenreData, {});
    </script>

    <div id="meanRatingsPerGenreGraph"></div>
    <script>
        var meanRatingsPerGenreData = {{ mean_ratings_per_genre_fig.to_json() | safe }};
        Plotly.newPlot('meanRatingsPerGenreGraph', meanRatingsPerGenreData, {});
    </script>
    
    <div id="meanRatingsPerDateGraph"></div>
    <script>
        var meanRatingsPerDateData = {{ mean_ratings_date_fig.to_json() | safe }};
        Plotly.newPlot('meanRatingsPerDateGraph', meanRatingsPerDateData, {});
    </script>
</body>
</html>
